@import "./../../../../theme/colors.scss";

.payment-page {
  .total-pay {
    border-top: 1px solid $secondary;
    padding-bottom: 5px;
  }

  .payment-calc{
    padding: 20px 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .payment{
      font-size: 20px;
      margin: 0;
      font-weight: 500;
    }
  }
}
.payBadge{
  border-radius: 40px;
  padding: 8px 12px;
  font-size: 14px;
}

.color-primary {
  color: $primary !important;
}
.color-secondary {
  color: $secondary !important;
}
.color-tertiary {
  color: $tertiary !important;
}

.tableHeader {
  text-align: center;
  font-weight: bold !important;
  color: #3b3b3b;
}
.heading{
  @media(max-width: 420px){
    margin-bottom: 10px;
  }
}

.simpleTable {
  width: 100%;
  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid $tertiary;
  }
  tr {
    height: 2rem;
    text-align: center;
    th {
      width: 60px;
      color: $tertiary;
      &:nth-child(2),&:nth-child(3){
        width: 100px
      }
      &:last-child{
        width: 80px;
      }
    }
  }
}

.tab-list {
  display: flex;
  justify-content: space-evenly;

  button {
    font-size: small;
    color: $tertiary;
  }
}
