.inputTextAlign {
  text-align: center;
}
ion-page {
  background: #fff;
}
ion-checkbox {
  --border-color: #707070;
  --border-width: 1px;
  border-width: var(--border-width);
  border-color: var(--border-color);
  font-size: 15px;
}

ion-button.authBtn {
  width: 100%;
}
.container {
  background: transparent;
  .form-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    --ion-padding: 2rem;
    padding-top: var(--ion-padding);
    margin-top: 0;
    .helperBtn {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .checkboxWrapper {
      margin-top: 0;
      .check {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .loginBtnWrapper {
      margin-top: 28px;
      ion-button {
        --box-shadow: 0 0;
        margin-bottom: 16px;
        height: 60px;
        font-size: 20px;
      }
      padding-top: 1rem;
    }
  }
  .logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    @media (max-width: 420px) {
      padding: 0 40px 60px;
    }
    img {
      @media (max-width: 420px) {
        width: 398px;
      }
    }
  }
}

.login.watermark {
  position: relative;
  &:before {
    content: "";
    top: 0;
    background: url("../../assets/webWatermark.svg") no-repeat top center, #fff;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 416px) {
      background: none, #fff;
    }
  }
}
