.studenInfo{
    border-radius: 40px 40px 0 0;
    --padding-bottom: 20px;
    overflow-y: hidden;
    .stickyStepper{
        position: sticky;
        top: 0;
        left: 0;
        --background: #fff;
        padding: 40px 50px 10px;
        // border-bottom: .25px solid #dedede;
    }
    .infoForm{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }   
    ion-button{
        width: 50%;
        margin: 60px auto 0;
        @media(max-width: 416px){
            margin: 0px auto 0;

        }
    }
}