@import "./../../../../theme/colors.scss";

.tableHeader {
  margin-top: 2rem;
  p{
    text-align: center;
    font-weight: bold !important;
    color: #3b3b3b;
  }
}
.profile{
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 26px;
  @media(max-width: 416px){
    font-size: 18px;
  }
}
.simpleTable {
  width: 100%;
  margin-top: 10px;
  // table-layout: fixed;
  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid $tertiary;
  }
  tr {
    height: 2rem;
    text-align: center;
    th {
      color: $tertiary;
    }
  }
}

.timeline{
  margin-top: 30px;
  text-align: center;
}

