@import "./../../../../theme/colors.scss";

.payment-page {
  .total-pay {
    border-top: 1px solid $secondary;
    padding-bottom: 5px;
    margin: 0 -50px;
    width: calc(100% + 100px);
    @media(max-width: 416px){
      margin: 0 -30px;
      width: calc(100% + 60px);
    }
  }
  .payment-calc{
    padding: 20px 50px 10px;
    width: 100%;
    display: flex;
    gap:14px;
    flex-direction: column;
    @media(max-width: 416px){
      padding: 14px 28px 6px;
    }
    span{
      margin-left: 24px;
    }
    .payment{
      margin: 0;
      display: flex;
      align-items: center;
      font-weight: 500;
      p{
        font-size: 16px;
        margin: 0;
        flex-basis: 40%;
      }
      span{
        font-size: 16px;
      }
      @media (max-width: 416px){
        font-size: 18px;
      }
    }
  }
  .status-heading{
    padding: 12px 0;
    font-size: 20px;
    @media(max-width: 416px){
      font-size: 18px;
    }
  }
  .color-primary {
    color: $primary;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    @media (max-width:416px){
      font-size: 18px;
    }
  }
  .formName{
    font-size: 18px;
    text-align: center;
    padding-bottom: 1rem;
    @media (max-width:416px){
      font-size: 15px;
    }
  }
  .total{
    padding-left: 50px;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
    @media(max-width: 416px){
      padding-left: 30px;
      
    }
  }
  .color-secondary {
    color: $secondary;
  }
  .color-tertiary {
    color: $tertiary;
  }
  .online{
    margin-top: 60px;
    text-align: center;
    ion-button{
      font-size: 28px;
      height: 65px;
      border-radius: 24px;
      --padding-start: 50px;
      --padding-end: 50px;
      margin-bottom: 12px;
      @media (max-width: 416px){
        font-size: 18px;
        --padding-start: 24px;
      --padding-end: 24px;
      width: 100%;
      }
    }
    .onlineText{
      font-size: 18px;
      margin-bottom: 42px;
      @media(max-width:416px){
        font-size: 14px;
      }
    }
  }
  .bankdetails{
    text-align: center;
    .bankName{
      margin-bottom: 14px;
      font-size: 20px;
      @media(max-width: 416px){
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
    .training{
      font-size: 24px;
      @media(max-width: 416px){
        font-size: 20px;
      }
    }
    .bankId{
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      @media(max-width: 416px){
        font-size: 24px;
      }
    }
  }
  .btnWrap{
    margin-top: 48px;
    text-align: center;
    p{
      font-size: 18px;
      color: #000;
      @media (max-width: 416px){
        font-size: 14px;
      }
    }
    
    ion-button{
      margin-bottom: 12px;
      font-size: 28px;
      min-height: 60px;
      @media (max-width: 416px){
        font-size: 18px;
        --padding-end: 24px;
        width: 100%;
      }
    }
    @media(max-width: 416px){
      margin-top: 30px;
    }
  }
}
