@import "./../../../../theme/colors.scss";

.tableHeader {
  text-align: center;
  font-weight: bold !important;
  color: #3b3b3b;
}


.pb1{
  padding-bottom: 2px;
}
.studentName{
  font-size: 32px;
  @media(max-width: 416px){
    font-size: 18px;
  }
}
.simpleTable{
  table{
    th{
      &:first-child{
        width: 60px;
      }
      &:nth-child(2){
        width: 80px;
      }
      &:nth-child(3){
        width: 110px;
      }
      &:last-child{
        width: 80px;
      }
      width: 130px
    }
  }
}