@import "./../../../../theme/colors.scss";

.contactus {
  p {
    text-align: center;
    color: $tertiary;
    font-size: 22px;
    font-weight: 400;
    &:first-child{
      font-weight: bold;
      font-size: 32px;
      @media (max-width: 416px){
        font-size: 20px;
      }
    }
    @media (max-width: 416px){
      font-size: 16px;
    }
  }
  
}

.contactbtn{
  font-size: 22px;
  height: 80px;
  text-transform: uppercase;
  --padding-start: 60px;
  --padding-end: 60px;
  letter-spacing: 1px;
  @media (max-width: 416px){
    font-size: 20px;
    height: 40px;
    width: 230px;
    margin-top: 20px;
  }
}