@import "./../../theme/colors.scss";

.amountCard {
  color: $primary;
  font-weight: bold;
  border: 1px solid;
  width: 8rem;
  text-align: center;
  padding: 0.6rem;
  border-radius: 15px;
  span {
    font-size: xxx-large;
  }
  margin: 1rem;
}
