@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
@import "./../../theme/colors.scss";

$bg: #fff;
$text: $text;
$light-pink: $primary;
$pink: lighten($primary, 5);
$dark-pink: $tertiary;
$pink-border: $tertiary;

.awesome-3d-button {
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
      font-weight: 600;
      width: 100%;
      color: $text;
      text-transform: uppercase;
      padding: 1.5em 1em;
      background: $light-pink;
      border: 2px solid $pink-border;
      border-radius: 24px;
      font-size: 24px;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-pink;
        border-radius: inherit;
        // box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
          box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }
      &:hover {
        background: $pink;
        transform: translate(0, 0.25em);
        &::before {
          //   box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
      &:active {
        background: $pink;
        transform: translate(0em, 0.75em);
        &::before {
          //   box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
          transform: translate3d(0, 0, -1em);
        }
      }
      @media(max-width: 416px){
        padding: 1.25rem .25rem;
        font-size: 23px;
        border-radius: 50px;

      }
    }
  }
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
