@import "./../../../../theme/colors.scss";

.simpleTable{
    &.timetable{
        margin-top: 50px;
    }
    .table{
        table-layout: fixed;
        width: 100%;
    thead{
        tr{
            th{
                padding: 6px;
                &:first-child{
                    width: 100px;
                }
                width: 120px;
            }
        }
    } 
    td{
        padding: 6px;
    }  
    }
}