.shareBtn{
    min-height: 58px;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
    font-weight: 900;
    margin-bottom: 32px;
    @media (max-width: 416px){
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
    }
}
.center{
    justify-content: center;
    height: 100%;
}
.shareText{
    font-size: 36px;
    text-align: center;
    @media (max-width: 416px){
        font-size: 22px;
        margin: 0;
        margin-bottom: 10px;
    }
}
.link{
    font-size: 30px;
    @media (max-width: 416px){
        font-size: 18px;
    }
    a{
        color: #0032FA;
    }
}