@import "./../../../../theme/colors.scss";

.status-root {
  border: 4px solid $primary;
  border-radius: 40px;
  padding: 0;
}

.status-heading {
  text-align: center;
  background: $primary;
  color: white;
  font-weight: 600 !important;
  padding: 0;
  margin: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.singutbtn{
  // width: 100%;
  font-weight: 600;
  font-size: 18px;
  height: 36px;
  min-height: 36px;
  width: 127px;
}
.paybtn{
  // ion-button{
  //   width: 100%;
  //   @media(max-width:416px){
  //     width: 135px;
  //     ma
  //   }
  // }
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}

.status-value {
  text-align: center;
  font-weight: bold !important;
  font-size: x-large;
}
