.classDetailCard{
    display: flex;
    justify-content: center;
    padding: 1rem 1.25rem;
    background-color: #ececec;
    flex-direction: column;
    border-radius: 15px;
    .ctaBtnWrapper{
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin-top: 60px;
        @media(max-width:416px){
            margin-top: 30px;
        }
        ion-button{
            font-size: 18px;
            --padding-start: 18px;
            --padding-end: 18px;
            border-radius: 50px;
            margin: 0;
            width: auto;
            min-width: 65px;
        }
    }
}