@import "./../../../../theme/colors.scss";

.tableHeader {
  text-align: center;
  font-weight: bold !important;
  color: #3b3b3b;
}

.simpleTable {
  font-size: small;
  width: 100%;
  overflow-x: auto;
  @media(max-width: 420px){
    table-layout: fixed;
  }
  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid $tertiary;
  }
  tr {
    height: 2rem;
    text-align: center;
    th {
      font-weight: 600;
      color: $tertiary;
        @media(max-width: 416px){
          
        &:first-child{
          width: 50px;
        }
        &:nth-child(2){
          width: 130px;
        }
        &:nth-child(3){
          width: 100px;
        }
        &:last-child{
          width: 80px;
        }
      }
    }
    td{
      ion-badge{
        border-radius: 50px;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 400;
        @media(max-width: 416px){
          padding: 8px 5px;
          font-size: 13px;
        }
      }
      @media(max-width: 416px){
        
        font-weight: 400;
        padding: 5px ;
      }
      ion-button{
        @media(max-width: 416px){
          font-size: 14px;
          --padding-start: 16px;
          --padding-end: 16px;
          min-height: 38px;
        }
      }
    }
  }
}
