@import "./colors.scss";

.ion-skeleton-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
}

.primary {
  background-color: $primary;
}

.color-primary {
  color: $primary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiOutlinedInput-root {
  border-radius: 30px !important;
}
ion-button {
  font-weight: bold !important;
}

.color-secondary {
  color: $secondary;
}
.color-tertiary {
  color: $tertiary;
}
::placeholder{
  text-align: center;
}

.badgeSuccess{
  color: green;
  background: transparent;
  font-size: 20px;
  @media(max-width: 416px){
    font-size: 14px;
    padding: 0;
  }
}
.badgeFail{
  color: red;
  background: transparent;
  font-size: 20px;
  @media(max-width: 416px){
    font-size: 14px;
    padding: 0;
  }
}
.MuiFormControl-root.MuiTextField-root.css-i02xj8-MuiFormControl-root-MuiTextField-root{width:95%; position: relative;}
.heading{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  // padding-bottom: 2rem;
  @media (max-width:416px){
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.subHeading{
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  @media (max-width:416px){
    font-size: 18px;
    padding-bottom: 1rem;
  }
}

.m0{
  margin: 0;
}
.p0{
  padding: 0;
}
ion-button{
  --box-shadow: 0 0;
  min-height: 44px;
}
table{
  thead,tbody{
    th,td{
      padding: 12px;
      font-size: 20px;
      font-weight: 400;
      @media(max-width: 416px){
        font-size: 16px;
      }
    }
  }
}

.pageMargin{
  margin-top: 1.5rem;
  height: auto;
  background: transparent;
  @media(max-width: 416px){
    margin-top: 0;
  }
}


.hideOnWeb{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 95%;
  margin: 0 auto;
  transform: translateY(-50%);
@media screen and (min-width: 420px) {
    display: none;
  }
}
.sectionHeading{
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 10px !important;
}
.completed-circle{
  border: 5px solid #AB1F23;
  background: #FBAD1B;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  margin-top: 4px;
}
.circle{
  border: 5px solid #AB1F23;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  margin-top: 4px;
}
ion-button{
  text-transform: uppercase;
@media(max-width: 416px){
  width: 187px;
  margin: 0 auto;
}
}
.gap-4{
  gap: 40px;
}
.column{
  flex-direction: column;
}
.login-form.fullScreen{
  height: calc(100% - 0px);
  overflow-y:scroll;
}
.fullScreen{
  height: calc(100% - 60px);
  .coverHeight{
    height: 100%;
  }
}
.simpleTable {
  font-size: small;
  width: 100%;
  overflow-x: auto;
  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid $tertiary;
  }
  tr {
    height: 2rem;
    text-align: center;
    th {
      font-weight: 600;
      color: $tertiary;
    }
    td{
      @media(max-width: 416px){
        font-size: 16px;
        font-weight: 500;
        padding: 8px 16px;
      }
      ion-button{
        @media(max-width: 416px){
          font-size: 14px;
          --padding-start: 10px;
          --padding-end: 10px;
          min-height: 38px;
        }
      }
    }
  }
}
.fullwidth{
  width: 100%;
}
.curved{
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
.signoutbtn{
  height: 36px;
  bottom: 0;
}
ion-icon.search-icon{
  position: relative;
  left: -30px;
}

@media(max-width: 420px){
  .mob-mt-4{
    margin-top: 40px;
  }
}