@import "./../../theme/colors.scss";

.card{
  width: 100%;
  @media(max-width: 416px){
    padding: 0 20px;
  }
}
.status-root-danger {
  border: 4px solid $primary;
  border-radius: 40px;
  padding: 0;
}

.status-root-warning {
  border: 4px solid $secondary;
  border-radius: 40px;
  padding: 0;
}

.status-root-success {
  border: 4px solid $success;
  border-radius: 40px;
  padding: 0;
}

.status-heading {
  text-align: center;
  color: white;
  font-weight: 600 !important;
  padding: 0;
  margin: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.background-danger {
  background: $primary !important;
}
.background-success {
  background: $success !important;
}
.background-warning {
  background: $secondary !important;
}

.status-value {
  text-align: center;
  font-weight: bold !important;
  font-size: x-large;
}

.status-badge {
  border-radius: 25px;
  margin: 0.5rem;
  span {
    padding: 1rem !important;
    font-weight: normal;
  }
}
