.subjectHeading {
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-size: 42px;
    @media(max-width: 416px){
        font-size: 20px;
        padding: 0;
        margin: 3rem 0 1.25rem; 
    }
}
