.classCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    @media(max-width: 416px){
        flex-direction: column;
    }
}
.classHeading{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 120px;
    @media(max-width: 416px){
        font-size: 24px;
        margin: 60px 0 30px;
    }
}