@import "./../../../../theme/colors.scss";

.simpleTable{
    &.timetable{
      margin-top: 50px;
    }
    table{
        table-layout: fixed;
        width: 100%;
   
    td{
        padding: 6px;
    }  
    }
}