@import "./../../../../theme/colors.scss";

.tableHeader {
  text-align: center;
  font-weight: bold !important;
  color: #3b3b3b;
}

.simpleTable {
  font-size: small;
  width: 100%;
  overflow-x: scroll  ;
  margin-top: 40px;
  @media(max-width: 416px){
    table-layout: fixed;
  }
  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid $tertiary;
  }
  tr {
    height: 2rem;
    text-align: center;
    th {
      font-weight: 600;
      color: $tertiary;
      &:nth-child(2){
        width: 110px;
      }
      &:nth-child(3){
        width: 110px;
      }
      &:last-child{
        width: 110px;
      }
        @media(max-width: 416px){
        &:first-child{
          width: 16%;
        }
      }
    }
    td{
      // ion-badge{
      //   border-radius: 50px;
      //   padding: 12px 20px;
      //   background: transparent;
      //   color: currentColor;
      //   font-size: 16px;
      //   font-weight: 400;
      //   @media(max-width: 416px){
      //     padding: 8px;
      //     font-size: 14px;
      //   }
      // }
      @media(max-width: 416px){
        font-size: 14px;
        font-weight: 500;
        padding: 5px 6px;
      }
      ion-button{
        @media(max-width: 416px){
          font-size: 14px;
          --padding-start: 16px;
          --padding-end: 16px;
          min-height: 38px;
        }
      }
    }
  }
}
