@import "./../../../../theme/colors.scss";

.manu-header {
  text-align: center;
  background: $tertiary;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  ion-title{
    position: relative;
  }
}

.button-list {
  display: grid;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}
ion-item{
  --min-height: 40px;

}
.item-native{
  height: 60px;
}
.classMenu{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 416px){
    width: 100%;
    margin: 0 auto;
  }
  ion-button{
      width: 100%;
      --border-radius: 30px;
      text-transform: capitalize;
      @media (min-width: 416px){
        font-size: 18px;
        height: 60px;
    }
  }
}
.menuItems{
  border-radius: 25px;
  overflow: hidden;
  .menuItem{
    border-bottom: 1px solid #fff;
    --border-radius: 0;
    width: 100%;
    margin: 0;
    span{
      padding: 0 10px;
    }
  }
  .innerMenu{
    margin: 0;
    --border-radius: 0;
    width: 100%;
    text-align: left;
  }
}