.annouoncementHeading{
    margin: 0;
    font-size: 14px;
    color: #707070;
    @media screen and (min-width: 420px){
        font-size: 24px;        
    }
}
.border{
    border: 1px solid #707070;
    border-bottom: none;
    padding: 10px;
}
.imageborder{
    padding: 20px;
    border: 1px solid #707070;
}
.verticalSpace{
    margin-top: 60px;
}