@import "./../../../../theme/colors.scss";

.tableHeader {
  text-align: center;
  font-weight: bold !important;
  color: #3b3b3b;
}
.gap{
  gap: 40px;
  margin: 40px 0 60px;
  flex-wrap: nowrap;
  @media(max-width: 420px){
    gap: 0;
  }
}
.tableScroll{
  overflow-x: scroll;
}
.simpleTable {
  table{
    width: 100%;
    table-layout: fixed;
    th{
      width: 120px;
      &:first-child{
        width: 60px; 
      }
    }
  }
  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid $tertiary;
  }
  .cellWidth{
    width: 270px
  }
  tr {
    height: 2rem;
    text-align: center;
    td{
      color: #000;
      font-size: 20px;
      padding: 12px;
      @media(max-width: 416px){
        font-size: 16px;
      }
      ion-badge{
        border-radius: 50px;
        padding: 12px;
      }
    }
    th {
      padding: 12px;
      color: $tertiary;
      font-weight: 400;
      font-size: 24px;
      @media(max-width: 416px){
        font-size: 16px;
      }
    }
  }
}
