@import "./../../theme/colors.scss";

ion-header {
  ion-toolbar {
    --background: #ab1f23;
    --ion-safe-area-top: 10px;
    padding: 10px;
    color: #fff;
  }
}
.ion-page {
  background: #ab1f23;
}
.watermark {
  position: relative;
  --background: transparent;
  &:before {
    content: "";
    top: 0;
    background: url("../../assets/webWatermark.svg") no-repeat top center, #fff;
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 416px) {
      background: none, #fff;
    }
  }
}

.login-form {
  background: transparent;
  border-radius: 40px 40px 0 0;
  // padding: 20px 0;
  height: 100%;
  position: relative;
  height: auto;
  @media screen and (max-width: 416px) {
    background-image: none;
  }
  .header {
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $tertiary;
    color: white;
    height: auto;
  }
  .spaceHorizontal {
    padding: 20px;
    top: 0;
    padding-bottom: 0;
    @media screen and (max-width: 416px) {
      background: #fff;
      position: sticky;
      padding: 12px 20px;
      border-radius: 40px 40px 0 0;
      z-index: 1;
    }
  }
  .form {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background: transparent;
    height: auto;
    @media (max-width: 424px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
    align-items: center;
    ion-button:not(.signoutbtn) {
      min-height: 60px;
      font-size: 20px;
      text-transform: uppercase;
      &:last-child {
        font-size: 20px;
      }
    }
  }
  .flex {
    display: flex;
  }
  .gap {
    gap: 2.5rem;
  }
  .menuBtn {
    position: relative;
    color: #333;
    display: flex;
  }
}
