@import "./../../theme/colors.scss";
.activeBadge {
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(21, 176, 13);
  border-radius: 25px;
  position: absolute;
  margin-left: 7rem;
  margin-top: 1rem;
}

.studentId{
  text-align: center;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  @media(max-width: 416px){
    font-size: 15px;
  }
}

.studentName{
  margin: 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 32px;
  @media(max-width: 416px){
    font-size: 20px;
  }
}

.class{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-bottom: 10px;
  @media(max-width: 416px){
    font-size: 15px;
  }
}

.cameraBadge {
  width: 1.5rem;
  height: 1.5rem;
  padding:0 3px;
  border-radius: 25px;
  position: relative;
  left: -40px;
  margin-top: 7.35rem;
  background: white;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  border: 2px solid $secondary;
}

.student-avatar {
  width: 11rem;
  height: 11rem;
  background: $secondary;
  color: black;
  border-radius: 50%;
  vertical-align: middle;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.view{
  height: 48px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 58px;
}

@media (max-width: 416px){
  .student-avatar{
    width: 10rem;
    height: 10rem;
  }
}