@import "./../../../../theme/colors.scss";

.manu-header {
  text-align: center;
  background: $tertiary;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button-list {
  display: grid;
  justify-content: center;
  height: 100%;
}

ion-menu {
  width: 226px;
  @media (min-width: 416px) {
    width: auto;
  }

  ion-header {
    width: 226px;
    @media (min-width: 416px) {
      width: auto;
    }
    ion-title {
      padding: 0;
    }
  }
  ion-content {
    width: 226px;
    @media (min-width: 416px) {
      width: auto;
    }
    ion-list {
      padding-top: 20px;
    }
    ion-item {
      --min-height: 40px;
      // @media (min-width: 416px){--min-height: 60px; font-size: 20px;}
    }
  }
}
.classMenu {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 416px) {
    width: 100%;
    margin: 0 auto;
  }
  ion-button {
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    @media (min-width: 416px) {
      font-size: 18px;
      height: 60px;
    }
  }
}
.item{
  --min-height: 60px;
  border-bottom: 1px solid white;
}

:root {
  ion-menu {
    --ion-backdrop-color: transparent;
  }
}
