.space{
    margin-top: 20px    ;
}
ion-button.signup{
    margin-bottom: 0;
    width: 100%;
}
.signup.watermark:before{
    border-radius: 0;
}
.container{

    .logo{
        padding-bottom: 40px;
        img{
            width: 398px;
        }
    }
}
