@import "./../../../../theme/colors.scss";

.tableHeader {
  text-align: center;
  font-weight: bold !important;
  color: #3b3b3b;
}

.recording{
  @media(max-width: 420px){
    padding: 16px 40px
  }
}