.teacher-dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}
.signout{
    min-height: 36px;
    font-size: 18px;
    z-index: 2;
    bottom: 4rem;
    width: 360px;
    left: 0;
    right: 0;
    margin: 0 auto;
    @media(max-width:424px){
        // position: static;
        width: 135px;
        bottom: 2rem;
        // margin-top: 12px;
    }
}